In [1]:
import pandas as pd

In [2]:
def date(df, date_column):
    df[date_column] = pd.to_datetime(df[date_column])
    df[date_column] = df[date_column].dt.date
    return df

In [3]:
def convert_unix_to_normal(df, unix_fecha_columna):
    df[unix_fecha_columna] = pd.to_datetime(df[unix_fecha_columna], unit='s').dt.strftime('%Y-%m-%d')
    return df

In [4]:
def source(df, valor):
    df['source_id'] = valor
    return df

In [5]:
def community(df, valor):
    df['community_id'] = valor
    return df

In [6]:
df = pd.read_csv('../Data/4chan/pol_4chan_comments.csv', sep=';')

df = date(df, 'date')
df = source(df, 5)
df = community(df, "pol")

df.rename(columns={'id': 'publication_id', 'date' : 'date_data'}, inplace=True)



df = df[['source_id', 'community_id', 'publication_id', 'date_data', 'hate', 'comment']]

df

,source_id,community_id,publication_id,date_data,hate,comment
0,5,pol,124205675,2017-05-05,0,"This board is for the discussion of news, worl..."
1,5,pol,259848258,2020-05-31,1,"<p style=""font-size:22px;font-weight:600;"">Che..."
2,5,pol,435021015,2023-07-19,1,"Democracy has consequences, chuds."
3,5,pol,435020531,2023-07-19,0,Putin has been offered to repopulate Russia wi...
4,5,pol,434992101,2023-07-19,0,"Young women are getting cervical cancer, cases..."
...,...,...,...,...,...,...
9995,5,pol,435405613,2023-07-22,0,They say this is caused by the climate change
9996,5,pol,435404646,2023-07-22,1,"<span class=""quote"">&gt;I know this is not a p..."
9997,5,pol,435396421,2023-07-22,0,Every time anyone posted &quot;praise k*k&quot...
9998,5,pol,435406091,2023-07-22,0,"<span class=""quote"">&gt;It&#039;s so big they ..."
9999,5,pol,435404133,2023-07-22,0,"<span class=""quote"">&gt;*BLOCKS YOUR PATH*</sp..."

In [7]:
df1 = pd.read_csv('../Data/instagram/samsung_last_ig_post_comments.csv', sep=';')

df1 = date(df1, 'date')
df1 = source(df1, 6)
df1 = community(df1, "samsung")

df1.rename(columns={'id': 'publication_id', 'date' : 'date_data'}, inplace=True)



df1 = df1[['source_id', 'community_id', 'publication_id', 'date_data', 'hate', 'comment']]

df1.head()

,source_id,community_id,publication_id,date_data,hate,comment
0,6,samsung,0,2023-07-10,0,"Gear up with the latest and greatest, all buil..."
1,6,samsung,1,2023-07-12,0,NaN
2,6,samsung,2,2023-07-12,0,💜💜💜💜💜💜💜💜💜💜💜
3,6,samsung,3,2023-07-11,0,Se eu puder farei eterna propaganda NEGATIVA!
4,6,samsung,4,2023-07-10,0,Queria muito saber porque no Brasil somos enga...

In [8]:
df2 = pd.read_csv('../Data/LiveYT/liveComments.csv', sep=';')

df2 = date(df2, 'date')
df2 = source(df2, 2)
df2 = community(df2, "TheGoodLiferadio")

df2['id'] = range(len(df2))

df2.rename(columns={'id': 'publication_id', 'date' : 'date_data'}, inplace=True)



df2 = df2[['source_id', 'community_id', 'publication_id', 'date_data', 'hate', 'comment']]

df2.head()

,source_id,community_id,publication_id,date_data,hate,comment
0,2,TheGoodLiferadio,0,2023-07-23,0,alroooo 😂uncle u to
1,2,TheGoodLiferadio,1,2023-07-23,0,Pinky 🌚
2,2,TheGoodLiferadio,2,2023-07-23,0,#YoBen:face-orange-biting-nails:u can't leave ...
3,2,TheGoodLiferadio,3,2023-07-23,0,Harry brother hellooooooooooo itnayy dinoooo b...
4,2,TheGoodLiferadio,4,2023-07-24,1,oye em baadalu unnayi mowa 🤔😂😂

In [9]:
df3 = pd.read_csv('../Data/reddit/roastMe/roastMe_reddit_comments.csv', sep=';')
df3.drop(df3.columns[1], axis=1, inplace=True)
df3.drop(df3.columns[2], axis=1, inplace=True)

df3 = convert_unix_to_normal(df3, 'fecha')

df3 = source(df3, 3)

df3 = community(df3, "roastme")

df3.rename(columns={'id_publicacion': 'publication_id', 'fecha' : 'date_data', 'comentario' : 'comment'}, inplace=True)

df3 = df3[['source_id', 'community_id', 'publication_id', 'date_data', 'hate', 'comment']]
df3

,source_id,community_id,publication_id,date_data,hate,comment
0,3,roastme,145dttw,2023-06-09,1,https://www.reddit.com/r/modnews/comments/13ws...
1,3,roastme,145dttw,2023-06-09,1,I have literally been to a mental ward and nob...
2,3,roastme,145dttw,2023-06-09,0,I'm kind of impressed that they managed to mak...
3,3,roastme,145dttw,2023-06-09,1,I've come across internet trolls more reliable...
4,3,roastme,145dttw,2023-06-09,0,![gif](giphy|17mNCcKU1mJlrbXodo)
...,...,...,...,...,...,...
17638,3,roastme,14yv5vl,2023-07-17,0,Are you the one who makes the disappointing ai...
17639,3,roastme,14yv5vl,2023-07-17,1,Don't fuck with this guy. He's under your plan...
17640,3,roastme,14yv5vl,2023-07-15,0,"Jesus, this guy is reliving world war 2 in his..."
17641,3,roastme,14yv5vl,2023-07-15,0,Damn
17642,3,roastme,14yv5vl,2023-07-15,0,"Only once in a while, when I’m alone in the ba..."

In [10]:
df4 = pd.read_csv('../Data/reddit/samsung/samsung_reddit_comments.csv', sep=';')

df4 = convert_unix_to_normal(df4, 'fecha')

df4 = source(df4, 3)

df4 = community(df4, "samsung")

df4.rename(columns={'id_publicacion': 'publication_id', 'fecha' : 'date_data', 'comentario' : 'comment'}, inplace=True)

df4 = df4[['source_id', 'community_id', 'publication_id', 'date_data', 'hate', 'comment']]
df4

,source_id,community_id,publication_id,date_data,hate,comment
0,3,samsung,14xk2gm,2023-07-12,0,**Join our official [Discord](https://discord....
1,3,samsung,14xk2gm,2023-07-12,0,The back of my s22 ultra isn't entirely shut a...
2,3,samsung,14xk2gm,2023-07-12,0,https://preview.redd.it/d4csqpwqajbb1.png?widt...
3,3,samsung,14xk2gm,2023-07-12,0,Anyone else tried trading in their Z flip 4 re...
4,3,samsung,14xk2gm,2023-07-12,0,How to prevent the Xbox from turning on automa...
...,...,...,...,...,...,...
6870,3,samsung,14l5bn7,2023-06-30,0,Many people have had their questions answered....
6871,3,samsung,14l5bn7,2023-06-30,0,I have answered many questions here. I just do...
6872,3,samsung,14l5bn7,2023-06-30,0,"I said they AREN'T ""help me experts"" requests...."
6873,3,samsung,14l5bn7,2023-07-03,0,Which is what I said. No one's trying to blame...
6874,3,samsung,14l5bn7,2023-06-30,0,Pretty sure you're looking for r/SamsungSupport

In [11]:
df5 = pd.read_csv('../Data/reddit/roastMe/roastMe_reddit_posts.csv', sep=';')
df5.drop(df5.columns[4], axis=1, inplace=True)
df5.drop(df5.columns[2], axis=1, inplace=True)

df5 = convert_unix_to_normal(df5, 'fecha_submission')

df5 = source(df5, 3)

df5 = community(df5, "roastme")

df5.rename(columns={'id': 'publication_id', 'fecha_submission' : 'date_data', 'titulo' : 'comment'}, inplace=True)

df5 = df5[['source_id', 'community_id', 'publication_id', 'date_data', 'hate', 'comment']]
df5

,source_id,community_id,publication_id,date_data,hate,comment
0,3,roastme,145dttw,2023-06-09,0,Roast Reddits Official App because they dont k...
1,3,roastme,151rpey,2023-07-17,0,"26F - feeling confident today, humble me"
2,3,roastme,151u4bs,2023-07-17,0,32yr Old Unemployed College Educated Loser. Lo...
3,3,roastme,151noyb,2023-07-17,1,Roast me
4,3,roastme,151kpu2,2023-07-16,0,20 years old Turkish male with zero social lif...
...,...,...,...,...,...,...
61,3,roastme,14zcpn0,2023-07-14,0,29/NB. Do your worst. Treat me like the emo tr...
62,3,roastme,14yp0h2,2023-07-13,0,"lives in mother's attic, no friends, dreams of..."
63,3,roastme,14y59lj,2023-07-13,1,Took a couple pictures for roast me only to fi...
64,3,roastme,14yv5vl,2023-07-13,1,"Roast me, 23 year old airport worker"
65,3,roastme,14xmdph,2023-07-12,0,My skin is smoother than ever and makes me fee...

In [12]:
df6 = pd.read_csv('../Data/reddit/samsung/samsung_reddit_posts.csv', sep=';')
df6.drop(df6.columns[4], axis=1, inplace=True)
df6.drop(df6.columns[2], axis=1, inplace=True)

df6 = convert_unix_to_normal(df6, 'fecha_submission')

df6 = source(df6, 3)

df6 = community(df6, "samsung")

df6.rename(columns={'id': 'publication_id', 'fecha_submission' : 'date_data', 'titulo' : 'comment'}, inplace=True)

df6 = df6[['source_id', 'community_id', 'publication_id', 'date_data', 'hate', 'comment']]
df6

,source_id,community_id,publication_id,date_data,hate,comment
0,3,samsung,14xk2gm,2023-07-12,0,Daily Support Thread
1,3,samsung,14pxi1d,2023-07-03,0,How would you change r/Samsung?
2,3,samsung,14xp14l,2023-07-12,0,does changing the screen resolution actually m...
3,3,samsung,14xkxwo,2023-07-12,0,S22 Ultra to Razr 40 Ultra
4,3,samsung,14xth02,2023-07-12,0,Pixel 7 Pro vs S23 base?
...,...,...,...,...,...,...
305,3,samsung,14kxcy7,2023-06-28,0,How long have you had a galaxy for and have yo...
306,3,samsung,14lfh2a,2023-06-28,0,Using G-SYNC with Samsung Odyssey Neo G7 43” S...
307,3,samsung,14l1t99,2023-06-28,0,How to manage samsung mobile devices?
308,3,samsung,14ky2mx,2023-06-28,0,Does the s23 continue to learn battery usage e...
309,3,samsung,14l5bn7,2023-06-28,0,Daily Support Thread

In [13]:
df7 = pd.read_csv('../Data/tiktok/samsung_zflip_tk_comments.csv', sep=';')

df7 = source(df7, 4)
df7 = community(df7, "samsung")

df7.rename(columns={'id': 'publication_id', 'date' : 'date_data', 'comments' : 'comment'}, inplace=True)



df7 = df7[['source_id', 'community_id', 'publication_id', 'date_data', 'hate', 'comment']]

df7.head()

,source_id,community_id,publication_id,date_data,hate,comment
0,4,samsung,0,2022-10-10,0,cuando me lo regalan?
1,4,samsung,1,2022-10-9,0,Etiquetadme 😂
2,4,samsung,2,2022-10-5,0,samsung you're better than apple
3,4,samsung,3,2022-10-5,0,Yes we love creases in our phone
4,4,samsung,4,2022-10-9,0,Je vous promets que vous êtes au dessus d’Appl...

In [14]:
df8 = pd.read_csv('../Data/youtube/loganPaul/loganPaul_yt_video_comments.csv', sep=';')
df8 = date(df8, 'date')
df8 = source(df8, 1)
df8 = community(df8, "logan_paul")

df8.rename(columns={'video_id': 'publication_id', 'date' : 'date_data'}, inplace=True)

df8 = df8[['source_id', 'community_id', 'publication_id', 'date_data', 'hate', 'comment']]

df8

,source_id,community_id,publication_id,date_data,hate,comment
0,1,logan_paul,hk1T_um0lCA,2020-09-02,0,I hope this giveaway can help some of you in t...
1,1,logan_paul,hk1T_um0lCA,2023-07-14,0,Ok
2,1,logan_paul,hk1T_um0lCA,2023-04-18,0,Is it too late to get the car
3,1,logan_paul,hk1T_um0lCA,2023-04-09,0,Please can I have a shout out
4,1,logan_paul,hk1T_um0lCA,2023-03-20,0,Miss the vlogs :/
...,...,...,...,...,...,...
13385,1,logan_paul,ldvXQg-96H0,2023-04-09,0,Please can I have a shout out
13386,1,logan_paul,ldvXQg-96H0,2023-04-08,0,Do y’all really think this dude can be Floyd? ...
13387,1,logan_paul,ldvXQg-96H0,2023-04-06,0,Jake got his ass beat
13388,1,logan_paul,ldvXQg-96H0,2023-04-06,1,Logan got fucked up
13389,1,logan_paul,ldvXQg-96H0,2023-04-04,0,😂😂😂😂😂😂

In [15]:
df9 = pd.read_csv('../Data/youtube/MKBHD/MKBHD_yt_video_comments.csv', sep=';')
df9 = date(df9, 'date')
df9 = source(df9, 1)
df9 = community(df9, "mkbhd")

df9.rename(columns={'video_id': 'publication_id', 'date' : 'date_data'}, inplace=True)

df9 = df9[['source_id', 'community_id', 'publication_id', 'date_data', 'hate', 'comment']]

df9

,source_id,community_id,publication_id,date_data,hate,comment
0,1,mkbhd,5LWDl5qaQbA,2023-07-17,0,24fps has soul
1,1,mkbhd,5LWDl5qaQbA,2023-07-17,0,2:43 Who’s Hanna Romney though? @mkbhd
2,1,mkbhd,5LWDl5qaQbA,2023-07-17,0,That synth voice is horrible.
3,1,mkbhd,5LWDl5qaQbA,2023-07-17,0,Marques!! I wanted to meet you at the Salt Lak...
4,1,mkbhd,5LWDl5qaQbA,2023-07-17,0,Don’t forget about crossfade
...,...,...,...,...,...,...
31201,1,mkbhd,8om1eJrO2lU,2023-07-15,0,More small screen possibilities seems like a g...
31202,1,mkbhd,8om1eJrO2lU,2023-07-14,0,Outer GIANT screen is super functional 🤜 💥 🤛
31203,1,mkbhd,8om1eJrO2lU,2023-07-14,0,how does it hold up with everyday life...i.e. ...
31204,1,mkbhd,8om1eJrO2lU,2023-07-14,0,Are you going to review the Motorola Edge Plus...
31205,1,mkbhd,8om1eJrO2lU,2023-07-14,0,one of my fav phones ever was the motorola x f...

In [16]:
df10 = pd.read_csv('../Data/youtube/mrBeast/mrBeast_yt_video_comments.csv', sep=';')
df10 = date(df10, 'date')
df10 = source(df10, 1)
df10 = community(df10, "mrbeast")

df10.rename(columns={'video_id': 'publication_id', 'date' : 'date_data'}, inplace=True)

df10 = df10[['source_id', 'community_id', 'publication_id', 'date_data', 'hate', 'comment']]

df10

,source_id,community_id,publication_id,date_data,hate,comment
0,1,mrbeast,CP82DAKzL1U,2023-07-17,0,Непро
1,1,mrbeast,CP82DAKzL1U,2023-07-17,0,Passei aqui 👍🎮🕹️😁
2,1,mrbeast,CP82DAKzL1U,2023-07-17,0,rhey honking for no reason 😂😂😂
3,1,mrbeast,CP82DAKzL1U,2023-07-17,0,мастурбист ты топ
4,1,mrbeast,CP82DAKzL1U,2023-07-17,0,Привет
...,...,...,...,...,...,...
14103,1,mrbeast,cExLQ1o2pDw,2023-07-17,0,Почему всем Всё выпадают А чем Нет это неправи...
14104,1,mrbeast,cExLQ1o2pDw,2023-07-16,0,Oh god. We’re doomed
14105,1,mrbeast,cExLQ1o2pDw,2023-07-16,0,Ohsh*t
14106,1,mrbeast,cExLQ1o2pDw,2023-07-16,0,😂 el viernes a qué hora viene
14107,1,mrbeast,cExLQ1o2pDw,2023-07-16,0,😮😮😮😅😂😅😂🎉😮😮🎉😮🎉

In [17]:
df11 = pd.read_csv('../Data/youtube/Samsung/samsung_yt_video_comments.csv', sep=';')
df11 = date(df11, 'date')
df11 = source(df11, 1)
df11 = community(df11, "samsung")

df11.rename(columns={'video_id': 'publication_id', 'date' : 'date_data'}, inplace=True)

df11 = df11[['source_id', 'community_id', 'publication_id', 'date_data', 'hate', 'comment']]

df11

,source_id,community_id,publication_id,date_data,hate,comment
0,1,samsung,IzRSSykkc8U,2023-07-13,0,We can’t wait to help you celebrate every face...
1,1,samsung,IzRSSykkc8U,2023-07-13,0,-<킹갓 삼성 영원하리>-
2,1,samsung,IzRSSykkc8U,2023-07-13,0,Samsung 😊❤
3,1,samsung,IzRSSykkc8U,2023-07-13,0,"samsung has the best phones i ever seen, that ..."
4,1,samsung,IzRSSykkc8U,2023-07-13,0,Anybody know what time on July 26th?
...,...,...,...,...,...,...
31268,1,samsung,wXhV4W-2ipg,2023-06-21,0,Grande AMLO.
31269,1,samsung,wXhV4W-2ipg,2023-06-21,0,Awesome!
31270,1,samsung,wXhV4W-2ipg,2023-06-21,0,이걸 삼성이 합니다. 정말~대단한 애국 기업입니다 🎊🎊👍👍👍🎊🎊
31271,1,samsung,wXhV4W-2ipg,2023-06-21,0,Korea has hosted Expo in Yeosu 2012. For balan...
31272,1,samsung,wXhV4W-2ipg,2023-06-19,0,I love SAMSUNG ❤

In [18]:
extracted_data = pd.concat([df, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11], axis=0)
extracted_data.reset_index(drop=True, inplace=True)
extracted_data['comment_id'] = range(len(extracted_data))
extracted_data = extracted_data[['comment_id', 'source_id', 'community_id', 'publication_id', 'date_data', 'hate', 'comment']]
extracted_data.to_csv('../Data/all_extracted_data.csv', sep=';', index=False)
extracted_data

,comment_id,source_id,community_id,publication_id,date_data,hate,comment
0,0,5,pol,124205675,2017-05-05,0,"This board is for the discussion of news, worl..."
1,1,5,pol,259848258,2020-05-31,1,"<p style=""font-size:22px;font-weight:600;"">Che..."
2,2,5,pol,435021015,2023-07-19,1,"Democracy has consequences, chuds."
3,3,5,pol,435020531,2023-07-19,0,Putin has been offered to repopulate Russia wi...
4,4,5,pol,434992101,2023-07-19,0,"Young women are getting cervical cancer, cases..."
...,...,...,...,...,...,...,...
125216,125216,1,samsung,wXhV4W-2ipg,2023-06-21,0,Grande AMLO.
125217,125217,1,samsung,wXhV4W-2ipg,2023-06-21,0,Awesome!
125218,125218,1,samsung,wXhV4W-2ipg,2023-06-21,0,이걸 삼성이 합니다. 정말~대단한 애국 기업입니다 🎊🎊👍👍👍🎊🎊
125219,125219,1,samsung,wXhV4W-2ipg,2023-06-21,0,Korea has hosted Expo in Yeosu 2012. For balan...
125220,125220,1,samsung,wXhV4W-2ipg,2023-06-19,0,I love SAMSUNG ❤